# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Tuplas

In [1]:
# Criando uma tupla
tupla1 = ("Matemática", 23, "Gatos")

In [2]:
# Imprimindo a tupla
tupla1

('Matemática', 23, 'Gatos')

In [3]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Tuplas não suportam delete de um item específico
del tupla1["Gatos"]

TypeError: 'tuple' object does not support item deletion

In [5]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [6]:
tupla1

'Chocolate'

In [7]:
tupla1 = ("Matemática", 23, "Gatos")

In [8]:
tupla1[0]

'Matemática'

In [9]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [10]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Gatos')

In [11]:
tupla1.index('Gatos')

2

In [12]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [13]:
# Deletando a tupla
del tupla1

In [14]:
tupla1

NameError: name 'tupla1' is not defined

In [51]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [52]:
t2

('A', 'B', 'C')

In [32]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [53]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [54]:
lista_t2

['A', 'B', 'C']

In [55]:
lista_t2.remove('A')

In [56]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [57]:
t2

('B', 'C')

In [161]:
lista_t2.append('D')

In [163]:
lista_t2

['B',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D']

In [169]:
lista_t2.append('A')

In [130]:
lista_t2

['B',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'A']

In [171]:
lista_t2.sort()

In [172]:
lista_t2

['A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D']

In [175]:
while 'A' in lista_t2:
    lista_t2.remove('A')

In [176]:
while 'B' in lista_t2:
    lista_t2.remove('B')

# <font color= 'red'> Não dá certo com o while. Pois, ele verifica o C, mas mesmo não tendo o C para remover, ele tenta removê-lo.

In [185]:
while 'C' or 'D' in lista_t2:
    lista_t2.remove('C')
    lista_t2.remove('D')

ValueError: list.remove(x): x not in list

In [ ]:
for item in lista_t2:
    if 'C' in lista_t2:
        lista_t2.remove('C')
    else:    
        lista_t2.remove('D')

In [184]:
lista_t2

[]

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>